<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">Matthew Fair</a>
  <button class="navbar-toggler" type="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active mr-5" href="#experience">Experience</a>
      <a class="nav-item nav-link active mr-5" href="#education">Education</a>
      <a class="nav-item nav-link active mr-5" href="#about">About Me</a>
    </div>
  </div>
</nav>
<div class="col-10 offset-1 col-md-8 offset-md-2 header-div">
    <%= image_tag("header2.jpg", class:"img-responsive mw-100") %>
</div>
<div class="container separator" id="experience">
</div>
<div class="container">
  <div class="col-lg-8 mt-2 offset-lg-2 text-center">
    <h2>Experience</h2>
    <hr class="light">
  </div>
  <div class="container-fluid">
    <div class="job-section">
      <div class="row">
        <div class="col-lg-8 col-sm-12 job-company">
          Mobi Wireless Management
        </div>
        <div class="col-lg-4 col-sm-12 job-timeframe">
          February 2016-Present
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-title">
          Sofware Developer
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-description">
          Full stack developer working with Ruby on Rails app using AngularJS.
        </div>
      </div>
    </div>
    <div class="job-section">
      <div class="row">
        <div class="col-lg-8 col-sm-12 job-company">
          IU Health Physicians
        </div>
        <div class="col-lg-4 col-sm-12 job-timeframe">
          August 2014 - October 2015
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-title">
          Practice Manager
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-description">
          Lead implementation of policy updates and integration of new software for the 23 team members I managed.
          Collected and presented quality data to the team and led improvements in patient satisfaction and met all
          meaningful use requirements.
        </div>
      </div>
    </div>
    <div class="job-section">
      <div class="row">
        <div class="col-lg-8 col-sm-12 job-company">
          IU Health Physicians
        </div>
        <div class="col-lg-4 col-sm-12 job-timeframe">
          May 2011 - August 2014
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-title">
          Practice Operations Specialist
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-description">
          Designed and developed analytical scorecards for 30 offices that evaluated performance against historical data
          or national benchmarks. Developed and maintained a monthly Microsoft Excel scorecard that integrated multiple
          real-time data streams to inform physicians of their performance and estimated bonus. Presented tools and
          performance data to physicians and leadership.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="separator" id="education">
</div>
<div class="container">
  <div class="col-lg-8 mt-2 offset-lg-2 text-center">
    <h2 class="section-heading">Education</h2>
    <hr class="light">
  </div>
  <div class="container-fluid">
    <div class="job-section">
      <div class="row">
        <div class="col-lg-8 col-sm-12 job-company">
          Oregon State University
        </div>
        <div class="col-lg-4 col-sm-12 job-timeframe">
          January 2018 - March 2020
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-title">
          Bachelor of Science - Computer Science
        </div>
      </div>
    </div>
    <div class="job-section">
      <div class="row">
        <div class="col-lg-8 col-sm-12 job-company">
          The Iron Yard
        </div>
        <div class="col-lg-4 col-sm-12 job-timeframe">
          October 2015 - January 2016
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-title">
          Certificate - Ruby on Rails
        </div>
      </div>
    </div>
    <div class="job-section">
      <div class="row">
        <div class="col-lg-8 col-sm-12 job-company">
          Indiana University School of Medicine
        </div>
        <div class="col-lg-4 col-sm-12 job-timeframe">
          September 2008 - May 2011
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-title">
          Master's Degree - Health Administration
        </div>
      </div>
    </div>
    <div class="job-section">
      <div class="row">
        <div class="col-lg-8 col-sm-12 job-company">
          DePauw University
        </div>
        <div class="col-lg-4 col-sm-12 job-timeframe">
          September 2004 - May 2008
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-title">
          Bachelor of Arts - Political Science
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="separator" id="about">
  </div>
  <div class="container">
    <div class="col-lg-8 mt-2 offset-lg-2 text-center">
      <h2>About Me</h2>
      <hr class="light">
    </div>
    <div class="row">
      <div class="col-lg-4 mt-3 offset-lg-4 col-sm-6 offset-sm-3 col-xs-6 offset-xs-3">
        <%= image_tag("matt_small_2.jpg", class:"w-100 rounded-circle") %>
      </div>
      <div class="offset-lg-2 col-lg-8 text-center">
        <hr class="light">
        <p class="text-center">I was born and raised in Indianapolis, Indiana. I graduated with a
          BS in Political Science from DePauw University in Greencastle, Indiana.
          I then went on to get my Masters in Health Administration from IU School
          of Medicine. I spent 8 years in healthcare before I decided to follow my
          passion and begin coding.</p>
      </div>
    </div>
  </div>
  <div class="separator" id="contact">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h2 class="section-heading">How to Reach Me!</h2>
        <hr class="primary">
      </div>
      <div class="col-lg-4 text-center">
        <%= link_to "https://github.com/Bulldogse45", :target => "_blank", class: "contact-icon" do %>
        <%= icon("file-earmark-code-fill") %>
          <p>GitHub</p>
        <% end %>
      </div>
      <div class="col-lg-4 text-center">
        <%= link_to "https://www.linkedin.com/in/matt-fair-a60a0424", :target => "_blank", class: "contact-icon" do %>
        <%= icon("file-person-fill") %>
        <p>LinkedIn</p>
        <% end %>
      </div>
      <div class="col-lg-4 text-center">
        <%= link_to "mailto:matt.j.fair@gmail.com", :target => "_blank", class: "contact-icon" do %>
          <%= icon("envelope-fill") %>
        <p>matt.j.fair@gmail.com</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="footer col-12 text-center">
  I promise that I will only use my coding powers for good.
</div>