<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="/">Matthew Fair</a>
  <button class="navbar-toggler" type="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active mr-5" href="#about">About Me</a>
      <a class="nav-item nav-link active mr-5" href="#experience">Experience</a>
      <a class="nav-item nav-link active mr-5" href="#education">Education</a>
    </div>
  </div>
</nav>
<div class="col-8 offset-2 col-md-6 offset-md-3 header-div">
    <%= image_tag("header2.jpg", class:"img-responsive mw-100") %>
</div>
<div class="separator" id="about">
</div>
  <div class="dark-bg">
    <div class="col-lg-8 mt-2 offset-lg-2 text-center">
      <h2>About Me</h2>
      <hr class="light">
    </div>
    <div class="row">
      <div class="col-lg-4 mt-3 offset-lg-4 col-sm-6 offset-sm-3 col-6 offset-3">
        <%= image_tag("matt_small_2.jpg", class:"w-100 rounded-circle") %>
      </div>
      <div class="offset-lg-2 col-lg-8 text-center mt-3">
        <p class="text-center">I was born and raised in Indy. I am a father, 
        a husband, and a coder.</p>
      </div>
    </div>
  </div>
</div>
<div class="container separator" id="experience">
</div>
<div class="light-bg">
  <div class="col-lg-8 mt-2 offset-lg-2 text-center">
    <h2>Experience</h2>
    <hr class="width-33">
  </div>
  <div class="container-fluid">
    <div class="job-section">
      <div class="row">
        <div class="col-lg-8 col-sm-12 job-company">
          Mobi Wireless Management
        </div>
        <div class="col-lg-4 col-sm-12 job-timeframe">
          February 2016-Present
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-title">
          Sofware Developer
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-description">
          Full stack developer working with Ruby on Rails app using AngularJS.  
        </div>
      </div>
    </div>
    <div class="job-section">
      <div class="row">
        <div class="col-lg-8 col-sm-12 job-company">
          IU Health Physicians
        </div>
        <div class="col-lg-4 col-sm-12 job-timeframe">
          August 2014 - October 2015
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-title">
          Practice Manager
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-description">
          Managed day to day operations of a multispecialty phsysicians' office with 23 direct reports.
        </div>
      </div>
    </div>
    <div class="job-section">
      <div class="row">
        <div class="col-lg-8 col-sm-12 job-company">
          IU Health Physicians
        </div>
        <div class="col-lg-4 col-sm-12 job-timeframe">
          May 2011 - August 2014
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-title">
          Practice Operations Specialist
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-description">
          Aggregated and presented operations data for all Primary Care, OB/GYN, and Behavioral Health Physicians.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="separator" id="education">
</div>
<div class="dark-bg">
  <div class="col-lg-8 mt-2 offset-lg-2 text-center">
    <h2 class="section-heading">Education</h2>
    <hr>
  </div>
  <div class="container-fluid">
    <div class="job-section">
      <div class="row">
        <div class="col-lg-8 col-sm-12 job-company">
          Oregon State University
        </div>
        <div class="col-lg-4 col-sm-12 job-timeframe">
          January 2018 - March 2020
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-title">
          Bachelor of Science - Computer Science
        </div>
      </div>
    </div>
    <div class="job-section">
      <div class="row">
        <div class="col-lg-8 col-sm-12 job-company">
          The Iron Yard
        </div>
        <div class="col-lg-4 col-sm-12 job-timeframe">
          October 2015 - January 2016
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-title">
          Certificate - Ruby on Rails
        </div>
      </div>
    </div>
    <div class="job-section">
      <div class="row">
        <div class="col-lg-8 col-sm-12 job-company">
          Indiana University School of Medicine
        </div>
        <div class="col-lg-4 col-sm-12 job-timeframe">
          September 2008 - May 2011
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-title">
          Master's Degree - Health Administration
        </div>
      </div>
    </div>
    <div class="job-section">
      <div class="row">
        <div class="col-lg-8 col-sm-12 job-company">
          DePauw University
        </div>
        <div class="col-lg-4 col-sm-12 job-timeframe">
          September 2004 - May 2008
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 job-title">
          Bachelor of Arts - Political Science
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="separator" id="contact">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h2 class="section-heading">Contact Info</h2>
        <hr class="primary">
      </div>
      <div class="col-lg-4 text-center">
        <%= link_to "https://github.com/Bulldogse45", :target => "_blank", class: "contact-icon" do %>
        <%= icon("file-earmark-code-fill") %>
          <p>GitHub</p>
        <% end %>
      </div>
      <div class="col-lg-4 text-center">
        <%= link_to "https://www.linkedin.com/in/matt-fair-a60a0424", :target => "_blank", class: "contact-icon" do %>
        <%= icon("file-person-fill") %>
        <p>LinkedIn</p>
        <% end %>
      </div>
      <div class="col-lg-4 text-center">
        <%= link_to "mailto:matt.j.fair@gmail.com", :target => "_blank", class: "contact-icon" do %>
          <%= icon("envelope-fill") %>
        <p>matt.j.fair@gmail.com</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="footer col-12 text-center">
  I promise that I will only use my coding powers for good.
</div>